@use "../../assets/sass/variables" as *;

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em 0;
  &__image {
    height: 35em;
    margin-right: 2em;
  }
  &__content {
    height: 32em;
    width: 29em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
  }
  &__button {
    padding: 1em;
    font-size: 2.3em;
    background-color: $colour-button-background;
    color: $colour-button-text;
    border: none;
    border-radius: 20px;
    margin-top: 1em;
  }
  &__title {
    color: $colour-font-headline;
    margin: 1em;
    font-size: 3em;
  }
  &__subheading {
    color: $colour-font-main;
    font-size: 2em;
  }
  &__course {
    color: $colour-font-main;
    font-size: 2em;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column;
    &__image {
      width: 95%;
    }
  }
}
