@use "../../assets/sass/variables" as *;

.course-list {
  padding: 1rem 2rem;
  &__filters {
    background-color: $colour-button-background;
    padding: 2em;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0 0 0;
    gap: 1em;
  }
  &__link {
    text-decoration: none;
  }
}
